In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
##Read the data1 file
data1 = pd.read_csv('../data/data1.csv',encoding = 'gbk')
##View descriptive statistics
data1.describe()
##Look at the data1 data type
data1.dtypes
##The statistical null values
data1.isnull().sum()

Index           0
CardNo          0
Sex             0
Major           0
AccessCardNo    0
dtype: int64

In [3]:
##Read the data2 file
data2 = pd.read_csv('../data/data2.csv',encoding = 'gbk')

##Look at the data2 data type
data2.dtypes

Index          int64
CardNo         int64
PeoNo          int64
Date          object
Money        float64
FundMoney    float64
Surplus      float64
CardCount      int64
Type          object
TermNo         int64
TermSerNo     object
conOperNo    float64
OperNo         int64
Dept          object
dtype: object

In [4]:
##Look at the first five lines of data2
data2.head()

,Index,CardNo,PeoNo,Date,Money,FundMoney,Surplus,CardCount,Type,TermNo,TermSerNo,conOperNo,OperNo,Dept
0,117342773,181316,20181316,2019/4/20 20:17,3.0,0.0,186.1,818,消费,49,NaN,NaN,235,第一食堂
1,117344766,181316,20181316,2019/4/20 8:47,0.5,0.0,199.5,814,消费,63,NaN,NaN,27,第二食堂
2,117346258,181316,20181316,2019/4/22 7:27,0.5,0.0,183.1,820,消费,63,NaN,NaN,27,第二食堂
3,117308066,181317,20181317,2019/4/21 7:46,3.5,0.0,50.2,211,消费,196,NaN,NaN,133,好利来食品店
4,117309001,181317,20181317,2019/4/19 22:31,2.5,0.0,61.7,209,消费,146,NaN,NaN,48,好利来食品店

In [5]:
##The statistical null values
data2.isnull().sum()

Index             0
CardNo            0
PeoNo             0
Date              0
Money             0
FundMoney         0
Surplus           0
CardCount         0
Type              0
TermNo            0
TermSerNo    512106
conOperNo    519116
OperNo            0
Dept              0
dtype: int64

In [6]:
##Modify Date as a time series
data2['Date']=pd.to_datetime(data2['Date'])

In [7]:
##Check the data2 data type to see if it was modified successfully
data2.dtypes

Index                 int64
CardNo                int64
PeoNo                 int64
Date         datetime64[ns]
Money               float64
FundMoney           float64
Surplus             float64
CardCount             int64
Type                 object
TermNo                int64
TermSerNo            object
conOperNo           float64
OperNo                int64
Dept                 object
dtype: object

In [8]:
##Look at the first five lines of data2
data2.head()

,Index,CardNo,PeoNo,Date,Money,FundMoney,Surplus,CardCount,Type,TermNo,TermSerNo,conOperNo,OperNo,Dept
0,117342773,181316,20181316,2019-04-20 20:17:00,3.0,0.0,186.1,818,消费,49,NaN,NaN,235,第一食堂
1,117344766,181316,20181316,2019-04-20 08:47:00,0.5,0.0,199.5,814,消费,63,NaN,NaN,27,第二食堂
2,117346258,181316,20181316,2019-04-22 07:27:00,0.5,0.0,183.1,820,消费,63,NaN,NaN,27,第二食堂
3,117308066,181317,20181317,2019-04-21 07:46:00,3.5,0.0,50.2,211,消费,196,NaN,NaN,133,好利来食品店
4,117309001,181317,20181317,2019-04-19 22:31:00,2.5,0.0,61.7,209,消费,146,NaN,NaN,48,好利来食品店

In [9]:
##Delete the null columns
data2 = data2.dropna(axis = 1,how='any')

In [10]:
##Continue to see if the null value was modified successfully
data2.isnull().sum()

Index        0
CardNo       0
PeoNo        0
Date         0
Money        0
FundMoney    0
Surplus      0
CardCount    0
Type         0
TermNo       0
OperNo       0
Dept         0
dtype: int64

In [11]:
##View the data2 descriptive statistics and finally check
data2.describe()

,Index,CardNo,PeoNo,Money,FundMoney,Surplus,CardCount,TermNo,OperNo
count,5.193670e+05,519367.000000,5.193670e+05,519367.000000,519367.000000,519367.000000,519367.000000,519367.000000,519367.000000
mean,1.171933e+08,176634.322951,1.664297e+07,4.087279,3.949758,78.495517,1016.565421,100.419041,120.814801
std,1.542171e+05,12891.317072,7.273705e+06,8.900284,34.329017,121.537938,812.625096,62.369659,96.747680
min,1.169250e+08,9.000000,9.000000e+00,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000
25%,1.170620e+08,172330.000000,2.016565e+07,1.200000,0.000000,34.100000,504.000000,51.000000,27.000000
50%,1.171920e+08,180766.000000,2.017561e+07,3.000000,0.000000,64.500000,749.000000,107.000000,133.000000
75%,1.173219e+08,183002.000000,2.018301e+07,6.000000,0.000000,99.390000,1422.000000,153.000000,204.000000
max,1.182120e+08,186208.000000,1.000000e+08,900.000000,9800.000000,9903.610000,14575.000000,501.000000,255.000000

In [12]:
data3 = pd.read_csv('../data/data3.csv',encoding = 'gbk')

data3.head()

     Index  AccessCardNo           Date    Address  Access Describe
0  1330906      25558880  2019/4/1 0:00  第六教学楼[进门]       1     允许通过
1  1330907      18413143  2019/4/1 0:02  第六教学楼[出门]       1     允许通过
2  1331384      11642752  2019/4/1 0:00    飞凤轩[进门]       1     允许通过
3  1330908      24124155  2019/4/1 0:00  第六教学楼[出门]       1     允许通过
4  1331385      18629328  2019/4/1 0:11    飞凤轩[进门]       1     允许通过

In [13]:
data3.describe()

              Index  AccessCardNo        Access
count  4.315600e+04  4.315600e+04  43156.000000
mean   1.352841e+06  1.481472e+07      0.967397
std    1.257649e+04  7.407105e+06      0.177596
min    1.330865e+06  1.117000e+04      0.000000
25%    1.341987e+06  8.510898e+06      1.000000
50%    1.352776e+06  1.770820e+07      1.000000
75%    1.363564e+06  2.043321e+07      1.000000
max    1.377068e+06  2.555888e+07      1.000000

In [14]:
data3.dtypes

Index            int64
AccessCardNo     int64
Date            object
Address         object
Access           int64
Describe        object
dtype: object

In [15]:
data3['Date'] = pd.to_datetime(data3['Date'])

In [16]:
data3.dtypes

Index                    int64
AccessCardNo             int64
Date            datetime64[ns]
Address                 object
Access                   int64
Describe                object
dtype: object

In [17]:
data3.isnull().sum()

Index           0
AccessCardNo    0
Date            0
Address         0
Access          0
Describe        0
dtype: int64

In [18]:
##Look for duplicate data
data1[data1.duplicated()]
data2[data2.duplicated()]
data3[data3.duplicated()]

Empty DataFrame
Columns: [Index, AccessCardNo, Date, Address, Access, Describe]
Index: []

In [19]:
#Save file

data1.to_csv('..\\newdata\\task1_1_1.csv',encoding='gbk')
data2.to_csv('..\\newdata\\task1_1_2.csv',encoding='gbk')
data3.to_csv('..\\newdata\\task1_1_3.csv',encoding='gbk')